<div class="highlighted-box center yonkoma-box">
	<div class="row">
		<div class="col-xs-6">
			<div class="row">
				<input type="text" name="title" class="form-control" placeholder="登場人物1">
			</div> <!-- row -->
			<div class="row">
				<input type="text" name="serif" class="form-control" placeholder="吹き出しの内容">
			</div> <!-- row -->
		</div>
		<div class="col-xs-6">
			<img src="http://lohas.nicoseiga.jp//thumb/5350592i?" class="img-responsive">
		</div>
	</div> <!-- row -->
</div>

