<div class="highlighted-box center yonkoma-box">
	<div class="row">
		<div class="col-xs-6">
			<div class="row">
				<input type="text" name="title" class="form-control input-character" placeholder="登場人物1">
			</div> <!-- row -->
			<div class="row">
				<input type="text" name="serif" class="form-control input-serif" placeholder="吹き出しの内容">
			</div> <!-- row -->
		</div>
		<div class="col-xs-6">
			<!-- <img src="http://lohas.nicoseiga.jp//thumb/5350592i?" class="img&#45;responsive img&#45;yonkoma" width="600px" height="400px"> -->
			<div class="frame-yonkoma">
				<img src="http://lohas.nicoseiga.jp//thumb/5350592i?" class="img-yonkoma">
			</div>
			<div class="serif">ここに台詞が表示されるよ(デバッグ)</div>
		</div>
	</div> <!-- row -->
</div>

