<%= form_for(@yonkoma) do |f| %>
  <% if @yonkoma.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yonkoma.errors.count, "error") %> prohibited this yonkoma from being saved:</h2>

      <ul>
      <% @yonkoma.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
