<%= form_for(@serif) do |f| %>
  <% if @serif.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@serif.errors.count, "error") %> prohibited this serif from being saved:</h2>

      <ul>
      <% @serif.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
