body{
  background-color: #181A1C;
}
#yonkoma{
  background-color: #181A1C;
  padding: 10px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-family:'Porta';
  text-align: center;
  font-size: 36px;
}
#title{
  width: 600px;
  background-color: #FECE1A;
  margin-bottom: 0px;
  color: #181A1C;

}

.koma{
  // background-color: #181A1C;
  background-color: white;
  width: 600px;
  height: 400px;
  border-top: 8px solid #FECE1A;
  border-right: 8px solid #FECE1A;
  border-left: 8px solid #FECE1A;
  z-index: -1;
}

#last{
  border-top: 8px solid #FECE1A;
  width: 600px;
}

span {
  width:1em;
  height:0px;
  display:block;
  margin: 0 0.5em;
  line-height: 1.1em;
  color: #181A1C;
  background: red;
  z-index: 1;
  font-size: 24px;
}


#hukidashi{
  border: medium solid #181A1C;
  box-shadow: 1px 1px 2px #aaaaaa;
  border-radius: 12px;
}